<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658816170887-c5rvnn6s65h234tgb3pr4n5ojsa2vjo7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658816170887-c5rvnn6s65h234tgb3pr4n5ojsa2vjo7</string>
	<key>API_KEY</key>
	<string>AIzaSyC93zz0EazcfkUjoC4fPNaIo2WhzXHCrdw</string>
	<key>GCM_SENDER_ID</key>
	<string>658816170887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.b2retl</string>
	<key>PROJECT_ID</key>
	<string>b2retl-f0745</string>
	<key>STORAGE_BUCKET</key>
	<string>b2retl-f0745.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658816170887:ios:01885a085d6126f656f122</string>
</dict>
</plist>